*{
  margin: 0;
  padding: 0;
}
/* nav{
  background-color: rgb(4, 4, 4);
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
}
ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
li {
  list-style: none;
}

li a{
  text-decoration: none;
  color: rgb(182, 36, 36);
  font-size: 32px;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.menu-toggle {
  display: none; /* Hidden by default */
  background-color: #444;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.menu {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.navbarfulldiv{
  position: sticky;
  top: 0;
  z-index: 10;
}

ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
li {
list-style: none;
}

li a{
text-decoration: none;
color: rgb(182, 36, 36);
font-size: 32px;
}

@media (max-width: 500px) {
  .menu {
    display: none; 
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px; 
    right: 0;
    width: 100%;
    /* gap: 100; */
    /* transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; */
     /* Hide menu content */
    /* overflow:unset   ; */
    /* opacity: 0.5;  */
    /* z-index: 0; */
  }

  .open {
    display: block; 
    max-height: 50px; 
    opacity: 2; 
  }
  .menu-toggle {
    display: block; 
  }
 
  li a{
    text-decoration: none;
    color: rgb(182, 36, 36);
    font-size: 22px;    
    }
}

